/* src/styles/Gift.css */

.gift-container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll; /* Skroll ishlashi uchun */
    overflow-x: hidden; /* Yon tomonga skroll bo'lmasligi uchun */
    scroll-snap-type: y mandatory; /* Yopishish effekti */
    scroll-behavior: smooth;
    background-color: #000;

    /* Firefox uchun */
    scrollbar-width: none;

    /* IE va Edge uchun */
    -ms-overflow-style: none;
}

/* Chrome, Safari va Opera uchun */
.gift-container::-webkit-scrollbar {
    display: none;
}
